
/* --------------------------------------
   Layout
   -------------------------------------- */
#features{
    text-align: center;
    margin-top: 20px;
}

footer{
    background: blue;
    color: white;
}

#orientation-info{
    margin-top: 50px;
}

#img-categories{
    max-height: 70%;
    max-width: 70%;
}

/* --------------------------------------
   Typography
   -------------------------------------- */
#innovation{
    margin-top: -15px;
}

#innovation .col-sm-4, .col-sm-8 {
    float:none;
    display:inline-block;
    vertical-align:middle;
    margin-right:-4px;
}

#testimonials{
    margin-top: -15px;
}

#testimonials .col-sm-5, .col-sm-7, .col-sm-3, .col-sm-9 {
    float:none;
    display:inline-block;
    vertical-align:middle;
    margin-right:-4px;
}

/* --------------------------------------
   Navbar
   -------------------------------------- */
#searchInput{
    width: 200px;
}

#nav-list > ul > li > a{
    color: white;
}

.navbar-brand{
    padding: 13px 15px;
}

#main-navbar{
    background-color: blue;
    
}

#whoWeAreNav{
    margin-top: 50px;
    background-color: white;
}
   
/* --------------------------------------
   Carousel
   -------------------------------------- */
#myCarousel .item{ height: 340px; }

#myCarousel {
    margin-top: 70px;
}

#myCarousel .carousel-caption h4{
    text-align: left;
    font-size: 36px;
}

#myCarousel .carousel-caption h3{
    text-align: left;
    font-size: 28px;
    font-style: italic;
}

#slide1{
    background: url('../../images/banner-hp-tim-young-giu2016.jpg') top center no-repeat;
}

#slide2{
    background: url('../../images/banner-hp-supergiga-lug2016.jpg') top center no-repeat;
}

#slide3{
    background: url('../../images/banner_hp_tim_in_viaggio_pass.jpg') top center no-repeat;
}

#projectsCarousel .item{ height: 450px; }

#project1{
    background: url('../../images/challenge.png') top center no-repeat;
}

#project2{
    background: url('../../images/sport.png') top center no-repeat;
}

#project3{
    background: url('../../images/cultura.png') top center no-repeat;
}

#project4{
    background: url('../../images/ambiente-e-sociale.png') top center no-repeat;
}

/* --------------------------------------
   Global Styles
   -------------------------------------- */
* {
    margin: 0;
}

html, body {
    height: 100%;
}

.wrapper {
    min-height: 100%;
    height: auto !important;
    height: 100%;
    margin: 0 auto -35px; /* the bottom margin is the negative value of the footer's height */
}

.footer, .push {
    height: 40px; /* .push must be the same height as .footer */
}


/* --------------------------------------
   Media Queries
   -------------------------------------- */

/* Portrait & landscape phone */
@media (max-width: 480px) {

}

/* Landscape phone to portrait tablet */
@media (max-width: 768px) {
	
}

/* Large desktop */
@media (min-width: 1200px) {
   
}